<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="communityDAO">

	<!-- 게시글 작성 : 오송민 -->
	<insert id = "insertCommunity" parameterType="community">
		INSERT INTO BOARDS(BOARD_IDX, MEMBER_IDX, CATE_IDX, TITLE, CONTENT
		, HIT, REG_DATE, BOARD_ORI, BOARD_FILE)
		VALUES (BOARD_SEQ.NEXTVAL, #{memberIdx}, #{cateIdx}, #{title}, #{content}
		, 0, SYSDATE, #{boardOri}, #{boardFile})	
	</insert>

	<!-- 게시글 1개 조회 : 오송민 -->
	<select id = "getCommunity" parameterType="community" resultType="community">
		SELECT B.*, M.NICKNAME, C.CATE_NAME
		FROM BOARDS B
		JOIN MEMBERS M ON B.MEMBER_IDX = M.MEMBER_IDX
		JOIN CATEGORYS C ON B.CATE_IDX = C.CATE_IDX
		WHERE B.BOARD_IDX = #{boardIdx}
	</select>
	
	<!-- 게시글 삭제 : 오송민 -->
	<delete id = "deleteCommunity" parameterType="community">
		DELETE FROM BOARDS WHERE BOARD_IDX = #{boardIdx} 
	</delete>
	
</mapper>